# API
ASPNETCORE_ENVIRONMENT=Development
CONNECTION_STRING=Server=localhost,1433;Database=CmsDb;User=sa;Password=Dev@12345!;TrustServerCertificate=True
MONGODB_URI=mongodb://localhost:27017
REDIS_CONNECTION=localhost:6379
OPENSEARCH_ENDPOINT=http://localhost:9200
JWT_SECRET_KEY=your-256-bit-secret-key-change-this
S3_BUCKET_NAME=cms-dev-media
AWS_REGION=ap-east-1
IS_DEMO_MODE=false

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:5000